@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

}

@theme inline {
  --animate-scroll: scroll var(--animation-duration, 40s) var(--animation-direction, forwards) linear infinite;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-button: var(--button);
  --color-secondary-foreground: var(--secondary-foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #171724;
    --foreground: #ededed;
    --primary: #FF8282;
    --secondary: #56DFCF;
    --muted: #ADEED9;
    --muted-foreground: #98E4FF;
    --button: #4E71FF;
    --secondary-foreground: #1f1f31;
  }
}

.font-roboto {
  font-family: var(--roboto-condensed), sans-serif;
}

.font-bokor {
  font-family: var(--bokor), sans-serif;
}

.font-rubik {
  font-family: var(--rubik-doodle-shadow), sans-serif;
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.card {
  position: relative;
  overflow: hidden;
}

.card::before {
  content: "";
  position: absolute;
  background-image: conic-gradient(from var(--angle), rgb(58, 147, 180) 15%, transparent 20%, transparent 50%);
  height: calc(100% + 2px);
  width: calc(100% + 2px);
  left: -1px;
  top: -1px;
  right: 0;
  bottom: 0;
  border-radius: 10px;
  animation: spin-border 5s linear infinite;
}


@keyframes spin-border {
  from {
    --angle: 0deg;
  }

  to {
    --angle: 360deg;
  }
}

.title {
  clip-path: polygon(0% 0%, 90% 0, 100% 50%, 90% 100%, 0% 100%);

}

.about-border {
  clip-path: polygon(10% 0, 100% 0, 100% 2%, 100% 90%, 90% 100%, 2% 100%, 0 100%, 0 10%);
  background-color: rgb(54, 145, 134);
  padding: 2px;
}

.about {
  clip-path: polygon(10% 0, 100% 0, 100% 2%, 100% 90%, 90% 100%, 2% 100%, 0 100%, 0 10%);
  background-image:linear-gradient(var(--color-secondary-foreground)50%,var(--background)100%);
}

@theme inline {
  --animate-scroll: scroll var(--animation-duration, 40s) var(--animation-direction, forwards) linear infinite;
 
  @keyframes scroll {
    to {
      transform: translate(calc(-50% - 0.5rem));
    }
  }
}
.progress{
  background:conic-gradient(rgb(7, 171, 86)300deg,rgb(46, 38, 59) 0deg);
}

@keyframes scaleit {
  from {
    transform: scale(0.2, 1);
  }

  50% {
    transform: scale(1, 1);
  }

  to {
    transform: scale(0.2, 1);
  }
}


html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif, "Roboto Condensed";
}